&nbsp;



<h1 style="text-align: left;">PHILLIP R. POLEFRONE</h1>
<br>
<h1>Education</h1>
<b>Columbia University</b>, New York, NY

<p style="padding-left: 30px;">Ph.D. Candidate, English Literature, 2013-</p>
<p style="padding-left: 30px;">M.A., English and Comparative Literature, 2014</p>
<p style="padding-left: 30px;">Certificate, Columbia Publishing Course, School of Journalism, 2012</p>
<br>
<b>New York University</b>, New York, NY

<p style="padding-left: 30px;">B.A., magna cum laude, English and American Literature, 2012</p>


<h1 id="awards" class="unnumbered">Awards</h1>
<h2 id="section">2014</h2>
<p><em>Robert John Bennett Memorial Award</em></p>
<blockquote>
<p>Awarded to the best Master’s Essay on a comparative or interdisciplinary topic; “Gilman’s Garden: Ecological Economy, Coevolution, and Utopian Naturalism in <em>Herland</em>”, 2014.</p>
</blockquote>
<h1 id="teaching" class="unnumbered">Teaching</h1>
<h2 id="spring-2015">Spring 2015</h2>
<p><em>Computing in Context</em>, Columbia, Computer Science and English</p>
<blockquote>
<p>As a teaching assistant, taught two weekly sections covering the intersection of digital and computational methods and literary theory. The material covered included both the basics of programming in Python and fundamental methodologies of Digital Humanities.</p>
</blockquote>
<h2 id="fall-2014">Fall 2014</h2>
<p><em>History of English</em>, Columbia, English and Comparative Literature</p>
<blockquote>
<p>Assisted in setting up lecture materials, grading, and leading review sections for a course covering the history of the English language from the medieval era to the present.</p>
</blockquote>
<h2 id="section-1">2009 - 2012</h2>
<p><em>Undergraduate Writing Tutor</em>, NYU Expository Writing Program</p>
<blockquote>
<p>Tutored undergraduate students in academic essay writing, commenting on electronic drafts and meeting with students; mentored new tutors.</p>
</blockquote>
<h2 id="summer-2010">Summer 2010</h2>
<p><em>Writing Instructor</em>, NYU Opportunities Program (BEST)</p>
<blockquote>
<p>Taught two daily seminars in literary analysis, research, and essay writing to students from underserved neighborhoods in Brooklyn.</p>
</blockquote>
<h1 id="university-service-and-affiliations" class="unnumbered">University Service and Affiliations</h1>
<h2 id="section-2">2014-</h2>
<p>Representative, Graduate Student Council, Department of English and Comparative Literature, Columbia University</p>
<ul>
<li>- Represented student interests and concerns to department leadership; helped organize events for current and incoming students; organized workshops for early-stage doctoral students</li>
<li>- Spearheaded digital communications initiatives</li>
</ul>
<h2 id="section-3">2014-</h2>
<p>Core Team Member, Group for Experimental Methods in the Humanities</p>
<ul>
<li>- <a href="http://xpmethod.github.io" class="uri">http://xpmethod.github.io</a></li>
</ul>
<h1 id="publishing-and-editorial-experience" class="unnumbered">Publishing and Editorial Experience</h1>
<h2 id="section-4">2012-2013</h2>
<p><em>Digital Production Assistant</em>, Publishers Weekly</p>
<ul>
<li>- Oversaw production of digital products and ad placement</li>
<li>- Acted as liaison between sales department and tech team; general support</li>
</ul>
<h2 id="section-5">2011-2012</h2>
<p><em>Senior Editor</em>, Mercer Street (student journal)</p>
<ul>
<li>- Edited yearly anthology of student essays from across academic departments; selected and edited essays</li>
<li>- Fact-checking and standardizing citation format</li>
</ul>
<h2 id="section-6">2009-2012</h2>
<p><em>Editor-in-Chief</em>, West 10th (student journal)</p>
<ul>
<li>- Oversaw digitization of journal at west10th.org; commissioned content from board members; managed production of online archive</li>
</ul>
<h1 id="book-selling-experience" class="unnumbered">Book Selling Experience</h1>
<h2 id="section-7">2012-2013</h2>
<p><em>Bookseller</em>, Greenlight Bookstore, Brooklyn</p>
<ul>
<li>- Managed offsite sales kiosk at the Brooklyn Academy of Music</li>
<li>- Manned sales floor and register, providing customer recommendations and assistance; maintained accurate inventory, organized displays and stacks</li>
</ul>
<h1 id="other-work-experience" class="unnumbered">Other Work Experience</h1>
<h2 id="summer-2009">Summer 2009</h2>
<p><em>Database Intern</em>, Broadridge-AccessData, Pittsburgh, PA</p>
<ul>
<li>- Maintained and troubleshot SQL code for automated database updates</li>
</ul>



<br>
<em>Current as of [date].  Also available <a href="https://github.com/prpole/polefrone_cv.pdf?raw=true">as a PDF</a>.</em>