&nbsp;



<h1 style="text-align: left;">PHILLIP R. POLEFRONE</h1>
<br>
<h1>Education</h1>
<b>Columbia University</b>, New York, NY

<p style="padding-left: 30px;">Ph.D. Candidate, English Literature, 2013-</p>
<p style="padding-left: 30px;">M.Phil., English and Comparative Literature, 2016</p>
<p style="padding-left: 30px;">M.A., English and Comparative Literature, 2014</p>
<p style="padding-left: 30px;">Certificate, Columbia Publishing Course, School of Journalism, 2012</p>
<br>
<b>New York University</b>, New York, NY

<p style="padding-left: 30px;">B.A., magna cum laude, English and American Literature, 2012</p>


<h1 id="publications" class="unnumbered">Publications</h1>
<p>“Critical Computing in the Humanities,” with Dennis Tenen and John Simpson. <em>Doing Digital Humanities</em>. London: Routledge, 2016. Print. <a href="https://www.routledge.com/Doing-Digital-Humanities-Practice-Training-Research/Crompton-Lane-Siemens/p/book/9781138899445">(link)</a></p>
<p></p>
<p>“Gilman’s Garden: <em>Herland</em>‘s Economics of a ’Good’ Anthropocene.” (Under review: submitted to <em>ISLE: Interdisciplinary Studies in Literature and Environment</em>.)</p>
<p></p>
<p>“Ecology Without Us: Ecological Succession and History and History in <em>Earth Abides</em>.” (Under review: submitted to <em>Extrapolation</em>.)</p>
<p></p>
<p>“Rising Tides, Rising Profits.” <em>Public Books</em>. 27 June 2017. <a href="http://www.publicbooks.org/rising-tides-rising-profits/">(link)</a></p>
<p></p>
<p>“Rewriting Finance’s Fiction.” <em>Politics Slash Letters Quarterly</em>. 28 May 2018. <a href="http://politicsslashletters.org/rewriting-finances-fiction/">(link)</a></p>
<p></p>
<p>“The Importance of the ‘Steady State’.” <em>Politics Slash Letters Live</em>. 1 Dec. 2017. <a href="http://politicsslashletters.live/reviews/importance-steady-state/">(link)</a></p>
<p></p>
<p>“Regreening Technology: Gestures Beyond Prometheanism in Kim Stanley Robinson’s <em>Mars Trilogy</em>.” <em>Politics Slash Letters Quarterly</em>. 27 June 2016. <a href="http://politicsslashletters.org/2016/06/polefrone_robinson/">(link)</a></p>
<h1 id="grants-and-awards" class="unnumbered">Grants and Awards</h1>
<h2 id="section">2018</h2>
<p>Teaching Scholars Fellowship for course “Speculative Fiction and the Environment in 20th-Century America.”</p>
<p>Departmental Travel Award to attend 29th Annual American Literature Association Conference.</p>
<h2 id="section-1">2017</h2>
<p>Departmental Archival Research Travel Award for research on the Jack London Papers at the Huntington Library, San Marino, CA</p>
<h2 id="section-2">2016</h2>
<p>Digital Centers Internship, award to develop “Semi-Automated Literary Mapping” platform.</p>
<h2 id="section-3">2015</h2>
<p>SIPA and Carnegie Corporation of New York Grant for Doctoral Student Research on Internet Policy for “Semantic Analysis of One Million #GamerGate Tweets: Fighting Hatespeech with Natural Language Processing.”</p>
<h2 id="section-4">2014</h2>
<p><em>Robert John Bennett Memorial Award</em> for best Masters Essay on a comparative or interdisciplinary topic.</p>
<h1 id="conference-papers-and-presentations" class="unnumbered">Conference Papers and Presentations</h1>
<h2 id="august-2018">August 2018</h2>
<p>“<em>Herland</em> (1915), <em>Earth Abides</em> (1949), <em>New York 2140</em> (2017): Literature, Architecture, and Ecology,” The Cooper Union’s Irwin S. Chanin School of Architecture, New York</p>
<h2 id="may-2018">May 2018</h2>
<p>“Ecological and Historical Succession in <em>Earth Abides</em>,” American Literature Association Conference 2018, San Francisco. Part of the “Future Earths” panel hosted by ASLE.</p>
<h2 id="march-2018">March 2018</h2>
<p>“Wasteland as Countercultural Space in John McPhee’s <em>The Pine Barrens</em>” Columbia University, New York. Guest lecture in “Literature of the 1960s.</p>
<h2 id="may-2017">May 2017</h2>
<p>“Gilman’s Garden: <em>Herland</em> and the Anthropocene,” American Literature Association Conference 2017, Boston.</p>
<h2 id="april-2017">April 2017</h2>
<p>“Location Extraction and Georeferencing with Python and QGIS,” Columbia Uniersity, part of <em>The Art of Data Visualization</em> workshop series.</p>
<h2 id="february-2017">February 2017</h2>
<p>“Semi-Automated Literary Mapping,” Columbia University, Department of Latin American and Iberian Cultures PhD Program</p>
<h1 id="teaching" class="unnumbered">Teaching</h1>
<h2 id="fall-2018">Fall 2018</h2>
<p>“Speculative Fiction and the Environment in 20th-Century America,” Columbia University (instructor of record)</p>
<h2 id="spring-2018---present">Spring 2018 - Present</h2>
<p>Architecture Writing Fellow, The Irwin S. Chanin School of Architecture of The Cooper Union</p>
<h2 id="spring-2016---present">Spring 2016 - Present</h2>
<p><em>Writing Associate</em>, Cooper Union Writing Center</p>
<h2 id="fall-2015---spring-2017">Fall 2015 - Spring 2017</h2>
<p><em>University Writing: Readings in Sustainable Development</em>, Columbia, University Writing Program (instructor of record)</p>
<h2 id="spring-2015">Spring 2015</h2>
<p>Teaching Assistant, <em>Computing in Context</em>, Columbia, Computer Science and English</p>
<h2 id="fall-2014">Fall 2014</h2>
<p>Teaching Assistant, <em>History of English</em>, Columbia, English and Comparative Literature</p>
<h2 id="section-5">2009 - 2012</h2>
<p><em>Undergraduate Writing Tutor</em>, NYU Expository Writing Program</p>
<h2 id="summer-2010">Summer 2010</h2>
<p><em>Writing Instructor</em>, NYU Opportunities Program (BEST)</p>
<h1 id="digital-projects" class="unnumbered">Digital Projects</h1>
<p><em>Framework for Semi-Automated Literary Mapping</em>, 2016-2017. Columbia University Digital Centers Intern Program.</p>
<p></p>
<p><em>LitCity</em>, January 2016. CODEX Hackathon at MIT.<a href="https://hackdash.org/projects/56912a1e62b2cc5d050af6d2">(link)</a>.</p>
<p></p>
<p><em>RogetTools</em>, Summer 2014. Columbia University.</p>
<p></p>
<p><em>Sortes Vergilianae/Pynchonianae Twitter Bot</em>, 2015.</p>
<p></p>
<p><em>Group for the Experimental Methods in the Humanities (Website)</em>. Columbia University.</p>
<h1 id="university-service-and-affiliations" class="unnumbered">University Service and Affiliations</h1>
<h2 id="section-6">2016 - 2018</h2>
<p>Co-Organizer, 20/21 American Literature Colloquium, Columbia University</p>
<h2 id="section-7">2014 - 2016</h2>
<p>Representative, Graduate Student Council, Department of English and Comparative Literature, Columbia University</p>
<h2 id="section-8">2014 -</h2>
<p>Core Team Member, Group for Experimental Methods in the Humanities</p>
<h1 id="languages-and-skills" class="unnumbered">Languages and Skills</h1>
<p>Spanish (reading)</p>
<p>Latin (rudimentary reading)</p>
<p>Python (programming language; proficiency)</p>
<p>HTML/CSS (markup languages; proficiency)</p>
<p>Javascript/D3 (rudimentary)</p>
<p>QGIS and ArcGIS Mapping Programs</p>
<!--

#Publishing and Editorial Experience {-}

##2012 - 2013

\ind _Digital Production Assistant_, Publishers Weekly

> Oversaw production of digital products and ad placement. Acted as liaison
between sales department and tech team; general support.

##2011 - 2012

\ind _Senior Editor_, Mercer Street (student journal)

> Edited yearly anthology of student essays from across academic
departments; selected and edited essays. Fact-checking and standardizing
citation format. 

##2009 - 2012

\ind _Editor-in-Chief_, West 10th (student journal)

> Oversaw digitization of journal at west10th.org; commissioned content from
board members; managed production of online archive.

#Book Selling Experience {-}

##2012 - 2013

\ind _Bookseller_, Greenlight Bookstore, Brooklyn

> Managed offsite sales kiosk at the Brooklyn Academy of Music. Manned sales
floor and register, providing customer recommendations and assistance;
maintained accurate inventory, organized displays and stacks.

#Other Work Experience {-}

##Summer 2009

\ind _Database Intern_, Broadridge-AccessData, Pittsburgh, PA

> Maintained and troubleshot SQL code for automated database updates.

-->



<br>
<em>Current as of  
<script language="javascript">
var today = new Date();
document.write(today);
</script>.  Also available <a href="https://github.com/prpole/prpole.github.io/raw/master/polefrone_cv.pdf">as a PDF</a>.</em>
