.left-panel {
	display: block;
	width: 30%;
	height: 100%;
	float: left;
}

.left-panel img {
	width: 90%;
}

.right-panel {
	display: block;
	width: 49%;
	height: 100%;
	float: left;
	padding-left: 4;
}

.notes-left {
	width: auto;
	height: 100%;
	float: left;
	font-size: .3em;
	display: inline;
}

.note-left-1 {
	display: inline;
	font-size: inherit;
}

.note-left-2 {
	display: inline;
	font-size: inherit;
}

.note-left-3 {
	display: inline;
	font-size: inherit;
}

.center-column {
	width: auto;
	height: 100%;
	float: left;
	display: inline;
}

.note-top-1 {
	display: inline;
	font-size: .3em;
}

.maintext {
	display: inline;
	font-size: .6em;
}

.notes-right {
	width: auto;
	height: 100%;
	float: left;
	font-size: .3em;
	display: inline;
}

.note-right-1 {
	display: inline;
	font-size: inherit;
}

.center-column h1 {
	font-size: 1em;
	text-align: center;
}