.left-panel {
	display: block;
	width: 10%;
	height: 100%;
	float: left;
}

.left-panel img {
	width: 90%;
}

.right-panel {
	display: block;
	width: 49%;
	height: 100%;
	float: left;
	padding-left: 4;
}

.notes-left {
	width: auto;
	height: 100%;
	float: left;
	font-size: .6em;
	display: inline;
}

.note-left-1 {
	display: inline;
	font-size: inherit;
}

.note-left-2 {
	display: inline;
	font-size: inherit;
}

.note-left-3 {
	display: inline;
	font-size: inherit;
}

.center-column {
	width: auto;
	height: 100%;
	float: left;
	display: inline;
}

.note-top-1 {
	display: inline;
	font-size: .6em;
}

.maintext {
	display: inline;
	font-size: .8em;
}

.notes-right {
	width: auto;
	height: 100%;
	float: left;
	font-size: .6em;
	display: inline;
}

.note-right-1 {
	display: inline;
	font-size: inherit;
}

.center-column h1 {
	font-size: 1em;
	text-align: center;
}

p img {
	margin-left: 1%;
	margin-right: 9%;
	padding: 1em;
	max-width: 90%
}

#front-text p {
    font-size: 1.25em;
    text-align: justify;
}

postwrap {
	padding: 5em;
	margin: auto;
	width: 100%;
}