<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}


<div id="main" role="main">
  <!--<div class="article-author-side">
    {% include _author-bio.html %}
  </div>-->
   <!--<article> -->
    <h1>{{ page.title }}</h1>

    <div class="left-panel">
	{% if page.image.manuscript %}
		<img src="{{site.baseurl}}/images/{{ page.image.manuscript }}"/>
	{% endif %}
    </div>

    <div class="right-panel">

    <div class="notes-left">
      {% for item in page.notes-left %}
        <div class="note-left-{{ item.position }}">
		      {{item.note}}
	      </div>
      {% endfor %}
    </div>

    <div class="center-column">

    <div class="notes-top">
      {% for item in page.notes-top %}
        <div class="note-top-{{ item.position }}">
          {{item.note}}
        </div>
      {% endfor %}
    </div>

  	<div class="maintext">
  		{{ content }}
  	</div>

    <div class="notes-bottom">
      {% for item in page.notes-bottom %}
        <div class="note-bottom-{{ item.position }}">
          {{item.note}}
        </div>
      {% endfor %}
    </div>

  </div>

    <div class="notes-right">
      {% for item in page.notes-right %}
        <div class="note-right-{{ item.position }}">
          {{item.note}}
        </div>
      {% endfor %}
    </div>

    </div><!-- /.article-wrap -->
  <!--</article>-->
</div><!-- /#index -->

    

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
